<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ELMAH" connectionString="Data Source=DIT-MSSQL01-DV;database=ELMAH;User ID=elmahlogger;Password=$reggolelm1;" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
  </connectionStrings>
  <appSettings>
    <add key="SuggestSubUnitApiUrl" value="__SuggestSubUnitApiUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="AddressCandidatesApiUrl" value="__AddressCandidatesApiUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="CommonBoundariesApiUrl" value="__CommonBoundariesApiUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
    <add key="MapServerApiUrl" value="__MapServerApiUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
  </appSettings>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ELMAH" applicationName="__ElmahApplicationName__" xdt:Transform="Replace"/>
    <errorMail from="__ElmahEmailSenderAlias__"
               to="__ElmahEmailRecipients__"
               subject="__ElmahEmailSubject__"
               userName=""
               password=""
               async="true"
               useSsl="false"
               smtpServer="exchange20.richva.ci.richmond.va.us"
               smtpPort="25" 
               xdt:Transform="Replace"/>
  </elmah>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />

    <customErrors mode="Off" >
      
    </customErrors>
  </system.web>
</configuration>
