<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="ELMAH" connectionString="Data Source=DIT-MSSQL01-DV;database=ELMAH;User ID=elmahlogger;Password=$reggolelm1;" providerName="System.Data.SqlClient" xdt:Transform="Insert"/>
  </connectionStrings>
  <appSettings>
    <add key="AddressCandidatesApiUrl" value="__AddressCandidatesApiUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes" />
    <add key="CommonBoundariesApiUrl" value="__CommonBoundariesApiUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
    <add key="MapServerApiUrl" value="__MapServerApiUrl__" xdt:Locator="Match(key)" xdt:Transform="SetAttributes"  />
  </appSettings>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="ELMAH" applicationName="GeoDataApi" xdt:Transform="Replace"/>
    <errorMail from="elmah_dev@richmondgov.com"
               to="Craig.Macivor@richmondgov.com"
               subject="GeoDataApi (dev)"
               userName=""
               password=""
               async="true"
               useSsl="false"
               xdt:Transform="Replace"/>
  </elmah>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
    <customErrors mode="Off" >
      
    </customErrors>
  </system.web>
</configuration>
